@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";

*{
    font-family: 'Poppins', sans-serif !important;
    box-sizing: border-box;
    color: var(--text-color--);
    /* outline: 3px solid red; */
}

:root{
    --body-color--: #0e0a18;
    --text-color--:#E9DFE0;
    --link-color--:#a6a6a6;
    --link-opaque-color--:rgba(166, 166, 166, 0.5);
    --primary-color--:#4717f7;
    --opaque-p-color--: rgba(71, 23, 247, 0.5);
    --secondary-color--:#130e20;
    --opaque-s-color--: rgba(19, 14, 32, 0.5);
    --logo-color--: #BDC3C7;
    --site-name-color--: #E9DFE0;
    --text-hover-color--: rgba(255,255,255, 0.5);
    --constant-text-color: rgb(233, 223, 224);
    --opaque-c-t-color: rgba(233, 223, 224, 0.5);
}

body{
    background-color: var(--body-color--);
    position: relative;
    margin: 0;
    min-height: 100vh;
}

.light{
    --body-color--: #E3E1E8;
    --text-color--:#211718;
    --link-color--:#595959;
    --link-opaque-color--:rgba(89, 89, 89, 0.5);
    --primary-color--:#5B30F8;
    --opaque-p-color--: rgba(91, 48, 248, 0.5);
    --secondary-color--:#CAC8CF;
    --opaque-s-color--: rgba(202, 200, 207, 0.5);
    --logo-color--: #383E42;
    --site-name-color--: #211718;
    --text-hover-color--: rgba(33, 23, 24, 0.5);
    
}

.arrow-container{
    display: block;
    border: 1px solid white;
    padding: 7px;
    background-color: rgba(89, 89, 89, 0.5);
}

.bi-arrow-up{
    padding: 3px;
    background-color: rgba(128, 128, 128, 0.05);
    position: fixed;
    right: 2%;
    bottom: 2%;
    z-index: 2;
}

.container{
    margin: 0;
    margin-top: auto;
    margin-bottom: 0;
    padding-top: 40px;
}

.sect{
    display: flex;
    justify-content: space-between;
    font-size: 1.125rem;
    padding: 20px 180px;
}

.experience-container h2{
    margin: 20px 180px !important;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.tab-logo, .mob-logo{
    display: none;
}

.desk-logo{
    display: block;
}

.nav-logo{
    font-family: 'League Spartan', 'Spartan', sans-serif !important;
    font-size: 2.2rem;
    font-weight: 600;
}

.logo{
    color: var(--logo-color--);
}

.site-name{
    color: var(--site-name-color--);
}

header{
    background-color: var(--body-color--);
    position: fixed;
    top: 0;
    z-index: 100;
}

nav{
    width: 90vw;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 90px 0;
}

nav .nav-open{
    display: none;
    position: absolute;
    top: 1.5em;
    right: 80px;
    cursor: pointer;
    /* outline: 3px solid green !important;
    pointer-events: auto !important; */
}

.toggle-lines{
    display: block;
}

.top-line, .middle-line, .bottom-line{
    width: 1.5em;
    height: 3px;
    background-color: var(--text-color--);

    transition: transform 350ms ease-in-out, opacity 100ms linear;
}

.top-line, .bottom-line{
    position: absolute;
    left: 0;
}

.nav-open .toggle-lines{
    pointer-events: none;
}

.top-line{top: 10px;}

.bottom-line{bottom: 10px;}

nav.active .nav-open{
    transform: translateX(0);
    z-index: 200;
}

nav.active .nav-open .middle-line{
    transform: rotate(0deg)  !important;
    /* top: 0; */opacity: 0;
    transition: all .25s ease-in-out;
}

nav.active .nav-open .toggle-lines{
    transform: rotate(45deg) translate(-8px, -6px);
    pointer-events: none;
}

/* nav.active .nav-open .middle-line{
    transform: rotate(45deg);
} */

nav.active .nav-open .bottom-line{
    /* bottom: 0; */
    transform: rotate(-45deg) translate(-8px, 6px);
}

.list-container .logo-toggle{
    display:none;
}

.dark-light i span{
    font-style: norml;
    display: none;
    color: var(--link-color--);
}

nav .other-nav-items{
    display: flex;
    align-items: center;
    position: relative;
}

.other-nav-items .bg-mode{
    display: flex;
    align-items: center;
    justify-content: center;
    /* outline: 1px solid red !important;
    z-index: 1; */
}

.bg-mode i{
    position: absolute;
    color: var(--text-color--);
    cursor: pointer;
    transition: all 0.3s ease;
}

.bg-mode .bi-moon{
    opacity: 0;
    pointer-events: none;
}

.bg-mode.active .bi-moon{
    opacity: 1;
    pointer-events: auto;
}

.bg-mode.active .bi-sun{
    opacity: 0;
    pointer-events: none;
}

.list-container {
    margin: 0;
    list-style: none;
    display: flex;
    gap: 2rem;
    align-items: center;
}

.list-container a{
    color: var(--link-color--);
    font-weight: 500;
}

.list-container a:hover{
    color: var(--link-opaque-color--);
    font-weight: 500;
}

.name-color{
    color: var(--primary-color--);
}

main {
    margin-top: 5px;
    margin-bottom: 5px;
}

.hero-sect{
    position: relative;
}

.hero-information{
    width: 60%;
    margin: 10px;
}

.hero-illustration{
    width: 40%;
    margin: 10px;
}

.hero-illustration img{
    width: 100%;
}

.social-icons{
    font-size: 32px;
    display: flex;
    gap: 1.5rem;
}

.bi-twitter{
    color: #1da1f2 !important;
}

.bi-twitter:hover{
    color: rgba(29, 161, 242, 0.5) !important;/*Try it as rgba with opacity*/
}

.bi-instagram{
    background-image: linear-gradient(to bottom right, #405DE6, #5B51D8, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80) !important;
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bi-instagram:hover{
    background-image: linear-gradient(to bottom right, rgba(64, 93, 230, 0.5), rgba(91, 81, 216, 0.5), rgba(131, 58, 180, 0.5), rgba(193, 53, 132, 0.5), rgba(225, 48, 108, 0.5), rgba(253, 29, 29, 0.5), rgba(245, 96, 64, 0.5), rgba(247, 119, 55, 0.5), rgba(252, 175, 69, 0.5), rgba(255, 220, 128, 0.5)) !important;
    background-size: 100%;
}

.bi-linkedin{
    color: #0072B1;
}

.bi-linkedin:hover{
    color: rgba(0, 114, 177, 0.5)
}

.bi-github{
    color: #333;
}

.bi-github:hover{
    color: rgba(51,51,51, 0.5);
}

.bi-at:hover{
    color: var(--text-hover-color--);
}

.action-buttons{
    display: flex;
    gap: 1rem;
}

.stnd-btn{
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
    min-width: 135px;
    padding-left: 16px;
    padding-right: 16px;
    height: 40px;
    border-radius: 35px;
    border: 0;
    font-weight: 500;
    gap: 2rem;
    color: var(--constant-text-color);
    background-color: var(--primary-color--);
}

.stnd-btn:hover{
    background-color: var(--opaque-p-color--);
}

.action-buttons .stnd-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-about{
    color: var(--text-color--);
    background-color: var(--secondary-color--);
}

.btn-about:hover{
    background-color: var(--opaque-s-color--);
}

.about-information{
    padding: 10px;
    width: 60%;
}

.my-skills{
    display: flex;
    flex-direction: column;
    width: 35%;
    position: relative;
}

.my-skills p{
    margin-top: 7px;
    margin-bottom: 0;
}

.full-bar{
    text-align: center;
    width: 100%;
    height: 30px;
    border-radius: 30px;
    background-color: var(--secondary-color--);
    box-shadow: 1px 1px 3px var(--text-color--);
}

/* .full-bar:hover{
    box-shadow: 1px 1px 3px #a43acb;
} */

.skill-text{
    position: relative;
    z-index: 3;
    color: var(--constant-text-color);
}

.filled-bar{
    position: absolute;
    left: 0;
    width: 45%;
    height: 29px;
    border-radius: 25px;
    background-color: var(--primary-color--);
}

.c-sharp-value{
    width: 70%;
}

.web-dev-value{
    width: 85%;
}

.UI-design-value{
    width: 65%;
}

.sql-value{
    width: 85%;
}

.python-value{
    width: 75%;
}

.experience-container{
    display: block;
}

.my-experiences{
    display:flex;
    justify-content: space-between;
    align-items: center;
    /* outline: 3px solid orangered;
    z-index: 3; */
}

.experiences-illustration img{
    width: 100%;
}

.experiences-illustration{
    /* outline: 3px solid green;
    z-index: 3; */
    width: 44%;
}

.experiences-list{
    width: 54%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* outline: 3px solid yellow;
    z-index: 3; */
}

.list-of-expeirences{
    list-style: none;
    text-indent: -2.5rem;
}
.list-of-expeirences li{
    text-indent: -1.5rem;
}

.experience-block{
    width: 100%;
    height: auto;
    padding: 20px 5px 20px 20px !important;
}

.education-experience, .employment-experience{
    background-color: var(--secondary-color--);
    padding: 1.5rem;
    padding-top: 0;
    padding-bottom: 0;
}

.roleYear::before{
    display: block;
    content: "";
    /* width: 45px; */
    height: 15px;
    background-color: var(--secondary-color--);
    border-radius: 5px;
    padding: 3px 3px 5px 3px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: var(--primary-color--)
}

.dipIT::before{content: "2021 - 2023";}
.advDipIT::before{content: "2025";}
.bzvRoles::before{content: "2023";}
.faoRoles::before{content: "2023";}
.nmuAssistRoles::before{content: "2023";}
.btmSQERoles::before{content: "2024 - Now";}

.sub-bold{
    font-weight: 500;
}

/* .my-projects{
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/* .slide-container{
    display: flex;
    overflow: auto;
} */

.experience-container{
    padding: 0;
}

.experience-container h2, .my-experiences{
    padding: 0 180px;
}

.experience-container h2{
    padding: 0;
    margin: 0;
}

.my-services{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.my-services h3{
    width: 100vw;
    text-align: center;
}

.service-card-container{
    margin-top: 60px;
    align-self: normal;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 3rem;
    margin-bottom: 30px;
}

.service-card{
    padding: 5px 5px 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 250px;
    height: 225px;
    background-color: var(--secondary-color--);
    border-radius: 16px;
    box-shadow: var(--text-color--) 0 2px 5px;
    transition: all 500ms ease-in-out;
}

.service-card p{
    color: var(--link-color--)
}

.service-card:hover{
    scale: 1.05;
    box-shadow: var(--primary-color--) 0 2px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* transform: rotateY(1turn); */
}

.service-card:hover .rounded-icon-con{
    top: -17%;
    /* width: 97.5px;
    height: 97.5px;
    font-size: 48px; */
    scale: 1.25;
    border-radius: 50%;
    position: absolute;
    transition: all 0.5s ease-in-out;
}

.service-card:hover b{
    color: var(--logo-color--);
}

.rounded-icon-con{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: var(--primary-color--);
    position: relative;
}

.service-card i{
    font-size: 32px;
    color: var(--constant-text-color)
}

.service-card p{
    text-align: center;
    font-size: 14px;
    display: none;
}

.service-card:hover p{
    display: block;
}

.my-projects{
    display: flex;
    flex-direction: column;
}

.card-container{
    margin-left: 15px;
    margin-right: 15px;
    gap: 6rem;
    padding: 15px 0 15px 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 25%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    /* transform-style: preserve-3d; */
}

.snaps-inline{
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: -7px;
}

.snaps-inline > *{
    scroll-snap-align: center;
}

.card-container-2{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card-container::-webkit-scrollbar{
    height: 1rem;
    width: 1px;
}

.card-container::-webkit-scrollbar-track{
    background-color: var(--opaque-s-color--);
    padding: 1px;
    border-radius: 5px;

}

.card-container::-webkit-scrollbar-thumb{
    border-radius: 15px;
    border: 1px solid var(--secondary-color--);
    background-color: var(--opaque-p-color--);
}

.card{
    height: 500px;
}

.project-container{
    margin-top: 60px;
    padding-top: 10px;
    padding-bottom: 60px;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
}

.card-images-container{
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    flex-wrap: wrap;
    width: fit-content;
    height: fit-content;
    position: relative;
}

.card-images-container img{
    border-radius: 16px;
}

.card-images-container img:hover{
    scale: 2.25;
    z-index: 500;
    justify-self: center;
    align-items: center;
}
.card-case{
    width: 345px;
    height: 500px;
    /* transform-style: preserve-3d; */
    /* background: gray; */
}

.card{
    margin-left: auto;
    margin-right: auto;
    border: 1px solid grey;
    position: relative;
    width:345px;
    background-color: var(--secondary-color--);
    text-align: center;
    border-radius: 15px;
    box-shadow: var(--text-color--) 0 2px 5px;
    padding-bottom: 15px;
    transition: transform 1.5s ease-in-out;
    /* transition: all 0.5s ease; */
    transform-style: preserve-3d;
}

.card-case .card.active{
    transform: rotate(90deg) rotateY(180deg);
}

.card-container.expand{
    position: relative;
    width: 100vw;
    height: 100%;
    z-index: 400;
}

.project-container.expand{
    position: relative;
    min-width: 100vw;
    min-height: 100vh;
    z-index: 400;
}

.card-case.expand{
    position: fixed;
    min-width: 120vw;
    min-height: 120vh;
    left: 0;
    top: 0;
    z-index: 402;
    background-color: var(--opaque-s-color--);
}

.project-container.expand .project-card-case.expand{
    position: absolute;
    min-width: 100vw;
    min-height: 120vh;
    left: 0;
    top: 0;
    z-index: 402;
    background-color: var(--opaque-s-color--);
}

.card.active{
    position: fixed;
    left: 0;
    right: 0;
    top: 20%;
    transition: all 1.5s linear;
    z-index: 405;
}

.card-front, .card-back{
    padding: 5px;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility:hidden;
    transform-style: preserve-3d;
}

/* .card-front{
    transform: translateZ(0.25rem);
} */

.card-back{
    transform: rotateY(180deg);
}

.card-back .p{
    transform: rotate(-90deg) translateX(-75px) translateY(-75px);
    width: 475px;
    text-align: left;
}

.project-card .card-back .p{
    transform: rotate(-90deg) translateX(-100px) translateY(-75px);
    width: 475px;
    text-align: left;
}

.project-card .card-back .p:has(sup){
    transform: rotate(-90deg) translateX(-80px) translateY(-75px);
}

.card-back .close-back{
    position: absolute;
    cursor: pointer;
    top: 5px;
    left: 5px;
    z-index: 405;
}
/* 
.card-front .card-header{
    transform: translateZ(0.5rem);
}

.card-front .card-title{
    transform: translateZ(0.5rem);
}

.card-front .card-content{
    transform: translateZ(0.5rem);
}

.card-front .card-btn-sect{
    transform: translateZ(0.5rem);
} */



/* .card:hover{
    box-shadow: #a43acb 2px 2px 5px;
} */

.card-case:hover .card{
    scale: 1.05;
}

.card-header{
    height: 195px;
}

.card-header img{
    border-top-right-radius: 13px;
    border-top-left-radius: 13px;
}

.card-title{
    margin-bottom: 0;
    padding-bottom: 2.5px;
}

.card-content{
    margin-top: 0;
    padding-top: 2.5px;
    display: flex;
    justify-content: center;
    position: relative;
    height: auto;
}

.card-header, .card-title, .card-content, .btn-more-info{
    left: 0;
    right: 0;
}

.card hr{
    margin: 0;
    padding: 0;
}

.card-content h4{
    position: absolute;
    top: 0;
}

.card-content button{
    position: absolute;
}

.btn-show-all{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

.contact-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 40px;
    /* outline: 3px solid yellow !important;
    z-index: 2; */
}

/* .sub-sect{
    width: 50% !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
} */

.material-symbols-sharp.md-48 {
    font-size: 3rem;
  }

.contact-bars{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    padding: 10px;
    /* outline: 3px solid green !important;
    z-index: 2; */
}

.contact-bars .contact-bar div{
    pointer-events: none;
}

.contact-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width: 100%;
    height: 75%;
    background-color: var(--primary-color--);
    font-size: larger;
    font-weight: 500;
    text-align: center;
    padding: 15px;
    color: var(--constant-text-color)
}

.contact-bar div, .contact-bar div i{
    color: var(--constant-text-color);
}

.location-bar, .email-bar, .phone-bar{
    width: 70vw !important;
}

.contact-bar div:hover, .contact-bar div i:hover{
    color: var(--opaque-c-t-color);
}

.contact-icons{
    color: var(--body-color--);
    cursor:pointer;
}

.contact-icons:hover{
    color: var(--text-color--);
}

.email-me{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: inherit;
    /* outline: 3px solid blue !important;
    z-index: 3; */
}

.email-me form{
    position: relative;
    /* outline: 3px solid purple !important;
    z-index: 2; */
    width: 100%;
    height: 100%;
    padding: 10px;
    
}

.email-me input{
    padding: 10px;
    color:var(--body-color--);
    font-weight: 500;
    width: 85%;
    height: 35px;
    border: none;
    border-radius: 35px;
    margin-bottom: 5px;
    margin-left: 15%;
}

.email-me label{
    margin-left: 15%;
}

.email-me textarea{
    padding: 10px;
    color:var(--body-color--);
    font-weight: 500;
    width: 85%;
    height: 140px;
    border: none;
    border-radius: 15px;
    margin-bottom: 5px;
    margin-left: 15%;
}

.message-btn{
    bottom: -10%;
    right: 5%;
    justify-self: end;
    position: absolute;
}

footer{
    position: absolute;
    bottom: 0;
    background-color: var(--secondary-color--);
    text-align: center;
    width: 100%;
    margin: 0;
    padding-top: 15px;
    display: flex;
    justify-content: center;
}

.ui-page, .html-page, .asp-page, .python-page{
    display: none;
}

.project-nav{
    border-bottom: 1px solid var(--secondary-color--);
    overflow:hidden;
    background-color: var(--secondary-color--);
    min-height: 65px;
    display: flex;
    gap: 6rem;
    justify-content: center;
}

.open-project-nav{
    font-weight: 600;
    color: var(--link-color--);
    padding: 5px;
    margin-top: auto;
    margin-bottom: auto;
}

.open-project-nav.active{
    color: var(--primary-color--);
}

.project-container{
    position: relative;
    min-height: 550px;
}

.card-container-2.bg-active{
    background-color: var(--opaque-s-color--);
}

.close-project-sect{
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(-10px) translateY(-55px);
}

.bi-x{
    color: red;
    font-size: 1.25rem;
}

/* @media only screen and (max-width: 1240px) {
    .contact-me{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-top: 40px;
    }

    .email-me label, .email-me input, .email-me textarea{
        margin: auto;
    }

    .message-btn{
        position: absolute;
        width: 93%;
        border-radius: 5px;
        left: auto;
        right: auto;
        bottom: -10%;
    }
} */

@media only screen and (max-width: 1130px) {

    nav .nav-open{
        right: 150px;
        display: block;
        pointer-events: auto;
    }

    .nav-logo{
        padding-top: 0.25em;
    }

    .list-container{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        gap: 1.5rem;
        position: fixed;
        height: auto;
        width: 100%;
        left: 0;
        top: -100%;
        padding: 20px;
        background-color: var(--secondary-color--);
        z-index: 100;
        transition: all 0.4s ease;
    }

    nav.active .list-container{
        top: -0%;
    }

    .list-container .logo-toggle{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-toggle a{
        justify-self: center;
        margin-right: auto;
        margin-left: auto;
    }

    .logo-toggle .close{
        color: var(--text-color--);
        font-size: 25px;
        cursor: pointer;
    }

    nav .list-container{
        padding-top: 20px;
        flex-direction: column;
        align-items: center;
    }

    nav li{
        display: flex;
        margin-bottom: 0;
        justify-content: center;
        align-items: center;
    }

    .card-container{
        margin-left: 25px;
        margin-right: 25px;
        gap: 8rem;
        padding: 15px;
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 25%;
        overflow-x: auto;
        overscroll-behavior-inline: contain;
    }
}

@media only screen and (max-width: 991px){
    /* *{
        outline: 3px solid red !important;
    } */
    
    nav{
        display: flex;
        justify-content: space-between;
    }

    body{
        width: 100vw;
        margin: 0;
        padding: 0;
    }

    main{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0;
        padding: 0;
        /* outline: 3px solid blue; */
        margin-left: auto;
        margin-right: auto;
    }

    nav .nav-open{
        display: block;
        justify-self: start;
        pointer-events: auto;
    }

    .desk-logo, .mob-logo{
        display: none;
    }

    .tab-logo{
        display: block;
    }

    .container{
        margin-top: 10px;
        width: 100%;
    }

    .sect{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 60px;
        font-size: 18px;
        margin-top: 20;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 95%;
        /* outline: 3px solid red; */
        margin: 20px auto 60px auto;
        padding: 20px 0 20px 0;

    }
    
    .hero-sect, .about-information, .my-skills, .my-experiences {
        width: 97%;
        /* margin-left: auto;
        margin-right: auto; */
    }

    .experience-container{
        /* outline: 4px solid pink !important; */
    }

    .my-experiences{
        /* outline: 5px solid yellow !important; */
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .experience-container h2{
        /* outline: 6px solid green !important; */
        margin-left: 0 !important;
        margin-right: auto !important;
        /* text-align: center; */
    }

    .experience-block, .experiences-list{
        width: 90%;
    }

    .hero-sect div, .hero-sect div div{
        margin-left: auto;
        margin-right: auto;
    }

    .hero-information{
        width: 90%;
    }

    .experience-container .my-experiences div{
        width: 100%;
        padding: 0;
    }

    .experiences-list{
        margin-top: 15%;
    }
    .experiences-list div{
        width: 95%;
    }

    .hero-sect{
        display: flex;
        flex-direction: column;
    }

    .my-skills{
        width: 95%;
    }

    .my-experiences{
        flex-direction: column;
    }

    .card-container{
        gap: 20rem;
        height: fit-content + 5px;
    }

    .card-case .card.active{
        z-index: 99;
        transform: rotateY(180deg);
    }
    
    .card-back .close-back{
        position: absolute;
        cursor: pointer;
        transform: translateX(305px);
    }

    .card-back .p{
        transform: rotate(0deg) translateX(0px) translateY(15px);
        padding: 5px;
        text-align: left;
        width: 325px;
    }

    .project-card .card-back .p{
        transform: rotate(0deg) translateX(0px) translateY(15px);
        padding: 5px;
        text-align: left;
        width: 325px;
    }

    .project-card .card-back .p:has(sup){
        transform: rotate(0deg) translateX(0px) translateY(-5px);
        padding: 5px;
        text-align: left;
        width: 325px;
    }

    .card.active{
        transform: translateY(20px);
    }

    footer p{
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .open-project-nav{
        border-bottom: 2px solid var(--body-color--);
        width: 95vw;
        text-align: center;
        justify-self: center;
    }

    .project-nav{
        flex-direction: column;
        justify-content:space-evenly;
        align-items: center;
        gap: 1rem;
        padding: 0;
        
    }

    .close-project-sect{
        transform: translateX(-10px) translateY(-55px);
    }
}

@media only screen and (max-width: 768px){
    /* *{
        outline: 3px solid red !important;
    }  */

    body, nav{
        width: 100vw;
        margin: 0;
    }

    .container{
        margin-bottom: 65px;
    }

    nav{
        display: flex;
        align-items: center;
        text-align: center;
        margin: 5px 10px 0 10px;
        padding-left: 5%;
        padding-right: 5%;
    }

    /**/

    nav .nav-open{
        display: block;
        right: 50px;
        pointer-events: auto;
    }

    .list-container{
        position: fixed;
        height: 100%;
        width: 80%;
        top: 0;
        left: -100%;
        padding: 20px;
        background-color: var(--secondary-color--);
        z-index: 100;
        transition: all 0.4s;
    }

    nav.active .list-container{
        left: -0%;
    }

    nav.active .container{
        opacity: 0.5;
    }

    .list-container .logo-toggle{
        display: block;
        width: 100%;
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }

    .logo-toggle .close{
        color: var(--text-color--);
        font-size: 25px;
        cursor: pointer;
    }

    nav .list-container{
        padding-top: 20px;
        flex-direction: column;
    }

    .other-nav-items{
        width: 100%;
    }

    .list-container .dark-light{
        width: 100%;
        display: inline-flex;
    }

    .dark-light i{
        width: 110% !important;
        background-color: var(--body-color--) !important;
        border-radius: 5px;
    }

    .dark-light i span{
        display: block;
    }

    nav li{
        display: flex;
        margin-bottom: 0;
        justify-content: center;
        align-items: center;
    }

    .desk-logo, .tab-logo{
        display: none;
    }

    .mob-logo{
        display: flex;
    }

    .nav-logo{
        padding-top: 0.25em;
        justify-self: center;
    }

    nav a{
        justify-self: center;
        align-self: center;
    }

    .other-nav-items{
        justify-self: end;
        margin-right: auto;
        margin-left: auto;
        margin-top: auto;
        margin-bottom: 10px;

    }
    /**/

    main{
        margin: 0 auto 0 auto;
        padding-left: 5px;
        padding-right: 5px;
    }
    .sect{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 60px;
        font-size: 1rem;
        margin-top: 20px;
        padding-top: 10px;
        padding-bottom: 20px;
        padding-left: 5%;
        padding-right: 5%;
    }

    .hero-sect{
        flex-direction: column;
        margin-top: 0;
        padding-top: 0;
    }

    .social-icons{
        justify-self: center;
        align-self: center;
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 2rem;
        margin-top: 5px;
    }

    .action-buttons{
        margin-top: 10px;
    }

    .hero-information, .hero-illustration, .about-information, .my-skills, .experiences-illustration, .education-experience, .employment-experience, .contact-bars, .email-me{
        width: 100%;
    }

    .hero-sect, .about-container, .experience-container, .contact-me{
        justify-content: center;
    }

    h2{
        text-align: center;
    }

    .hero-information{
        display: flex;
        flex-direction: column;
    }

    .experience-container h2{
        margin: 0;
        padding: 0;
    }

    .education-experience, .employment-experience{
        width: 100%;
        margin: 10px;
    }

    .action-buttons{
        display: flex;
        flex-direction: column;
    }

    .my-experiences{
        flex-direction: column-reverse;
        width: 100%;
        margin: auto;
        padding: 0;
        align-items: center;
        justify-content: center;
        /* outline: 3px solid blue !important;
        z-index: 101; */
    }

    .experiences-list{
        width: 100%;
    }

    .education-experience, .employment-experience{
        width: 90%;
        font-size: 1rem;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .service-card-container{
        margin-top: 20px;
        align-self: normal;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 3rem;
    
    }
    
    .service-card{
        padding: 5px 5px 5px 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        width: 100%;
        height: 225px;
        background-color: var(--secondary-color--);
        border-radius: 16px;
    }

    .rounded-icon-con{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: var(--primary-color--);
        position: relative;
    }

    .card-container{
        margin: 0;
        padding: 0;
        gap: 16rem;
        padding: 15px;
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 21%;
        overflow-x: auto;
        overscroll-behavior-inline: contain;
        height: fit-content;
    }

    .card-container::-webkit-scrollbar{
        width: auto;
    }

    .card-container::-webkit-scrollbar-track{
        background-color: transparent;
        padding: 1px;
        border-radius: 5px;
    
    }
    
    .card-container::-webkit-scrollbar-thumb{
        border-radius: 15px;
        border: 1px solid var(--secondary-color--);
        background-color: transparent;
    }

    .card{
        /* outline: 1px solid red !important; */
        width:275px;
        height: fit-content;
        background-color: var(--secondary-color--);
        text-align: center;
        padding: 5px 5px 5px 5px;
        border-radius: 15px;
        box-shadow: var(--text-color--) 2px 2px 5px;
        padding-bottom: 15px;
    }

    /* .card-front{outline: 1px solid orange !important;z-index: 105;} */
    
    .card-header{
        height: 155.5px;
    }
    
    .card-header img{
        border-top-right-radius: 13px;
        border-top-left-radius: 13px;
    }
    
    .card-content{
        display: flex;
        justify-content: center;
        position: relative;
        height: auto;
    }
    
    .card-case{
        width: 346px;
        height: 550px;
    }

    .card{
        min-height: 525px;
        max-height: 550px;
    }

    .card-container{
        gap: 15rem;
        height: 595px;
        overflow-y: hidden;
    }

    .card-front{
        transform: translateX(-5px);
    }

    .card-back .p{
        /* transform: rotate(0deg) translateX(0px) translateY(15px); */
        padding: 5px;
        width: 275px;
    }

    .project-card .card-back .p{
        padding: 5px;
        width: 275px;
        word-wrap: break-word;
    }

    .project-card .card-back .p:has(sup){
        padding: 5px;
        width: 275px;
        transform: translateY(-20px);
    }
    
    .card-back .close-back{
        position: absolute;
        cursor: pointer;
        transform: translateX(250px);
    }

    .card-case .card.active{
        z-index: 99;
        transform: rotateY(180deg);
    }

    .btn-more-info{
        position: absolute;
        bottom: 5;
        transform: translateX(5px);
    }

    .btn-show-all{
        text-align: center;
        justify-content: center;
        min-width: 95%;
    }

    .contact-bar{
        width: 90%;
        height: 36%;
        margin: auto;
        padding: 10px 0;
        font-size: 1rem;
    }

    .email-me input, .email-me textarea{
        width: 99%;
    }

    .action-buttons{
        /* outline: 3px solid orange !important; */
        align-items: center;
        width: 100% !important;
        z-index: 10;
    }

    .action-buttons .stnd-btn{

        margin: 0;
        min-width: 100%;
        border-radius: 5px;
    }

    .stnd-btn{
        width: 95%;
        border-radius: 5px;
    }

    .message-btn{
        width: 93%;
    }
}

@media (hover: none)
{

    .service-card{
        margin-top: 50px;
        scale: 1.05;
        box-shadow: var(--primary-color--) 0 2px 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        /* transform: rotateY(1turn); */
    }

    .service-card .rounded-icon-con{
        top: -17%;
        /* width: 97.5px;
        height: 97.5px;
        font-size: 48px; */
        scale: 1.25;
        border-radius: 50%;
        position: absolute;
        transition: all 0.5s ease-in-out;
        z-index: 500;
    }

    .service-card b{
        color: var(--logo-color--);
    }
    
    .service-card i{
        font-size: 48px;
        color: var(--constant-text-color)
    }

    .service-card p{
        display: block;
    }

}